<ion-header>
  <ion-navbar>
    <ion-title>
      Send Deal
    </ion-title>
    <ion-buttons end>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup]="dealForm">
    <ion-card (click)="selectBuyer()">
      <ion-item>
        <h2>
          <strong>Buyer</strong>
        </h2>
      </ion-item>
      <ion-card-content *ngIf="dealForm.controls.buyerName.valid">
        <h2>{{dealForm.controls.buyerName.value}}</h2>
        <h3>{{dealForm.controls.buyerPhoneNumber.value}}</h3>
      </ion-card-content>
      <ion-card-content *ngIf="!dealForm.controls.buyerName.valid">
        <h2>
          <i>Not Selected</i>
        </h2>
        <p *ngIf="!dealForm.controls.sellerName.valid && dealForm.controls.rateForBuyer.dirty" ion-text color="danger">Please select buyer.</p>
      </ion-card-content>
      <ion-input formControlName="buyerName" type="hidden"></ion-input>
    </ion-card>
    <ion-card (click)="selectSeller()">
      <ion-item>
        <h2>
          <strong>Seller</strong>
        </h2>
      </ion-item>
      <ion-card-content *ngIf="dealForm.controls.sellerName.valid">
        <h2>{{dealForm.controls.sellerName.value}}</h2>
        <h3>{{dealForm.controls.sellerPhoneNumber.value}}</h3>
      </ion-card-content>
      <ion-card-content *ngIf="!dealForm.controls.sellerName.valid">
        <h2>
          <i>Not Selected</i>
        </h2>
        <p *ngIf="!dealForm.controls.sellerName.valid && dealForm.controls.rateForBuyer.dirty" ion-text color="danger">Please select seller.</p>
      </ion-card-content>
      <ion-input formControlName="sellerName" type="hidden"></ion-input>
    </ion-card>
    <ion-item margin-top>
      <ion-label stacked>Rate for Buyer (in Rs)</ion-label>
      <ion-input type="number" formControlName="rateForBuyer"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="!dealForm.controls.rateForBuyer.valid && dealForm.controls.rateForBuyer.dirty">
      <p ion-text color="danger">Please enter a valid rate.</p>
    </ion-item>
    <ion-item margin-top>
      <ion-label stacked>Rate for Seller (in Rs)</ion-label>
      <ion-input type="number" formControlName="rateForSeller"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="!dealForm.controls.rateForSeller.valid  && dealForm.controls.rateForSeller.dirty">
      <p ion-text color="danger">Please enter a valid rate.</p>
    </ion-item>
    <ion-item margin-top>
      <ion-label stacked>ChickPeas Type</ion-label>
      <ion-select formControlName="chickPeasType">
        <ion-option value="40/42">40/42</ion-option>
        <ion-option value="42/44">42/44</ion-option>
        <ion-option value="44/46">44/46</ion-option>
        <ion-option value="58/60">58/60</ion-option>
        <ion-option value="60/62">60/62</ion-option>
        <ion-option value="62/64">62/64</ion-option>
        <ion-option value="64/66">64/66</ion-option>
        <ion-option value="66/68">66/68</ion-option>
        <ion-option value="75/80">75/80</ion-option>
      </ion-select>
    </ion-item>
    <ion-item no-lines *ngIf="!dealForm.controls.chickPeasType.valid  && dealForm.controls.chickPeasType.dirty">
      <p ion-text color="danger">Please select ChickPeas Type.</p>
    </ion-item>
    <ion-item margin-top>
      <ion-label stacked>Containers</ion-label>
      <ion-input type="number" formControlName="containerCount"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="!dealForm.controls.containerCount.valid  && dealForm.controls.containerCount.dirty">
      <p ion-text color="danger">Please enter container count.</p>
    </ion-item>
    <ion-item margin-top>
      <ion-label stacked>Containers Size (in Quintal)</ion-label>
      <ion-input type="number" formControlName="containerSize"></ion-input>
    </ion-item>
    <ion-item no-lines *ngIf="!dealForm.controls.containerSize.valid  && dealForm.controls.containerSize.dirty">
      <p ion-text color="danger">Please enter container size.</p>
    </ion-item>
    <ion-row no-padding align-items-center>
      <ion-col col-10 no-padding align-items-center>
        <ion-item margin-top>
          <ion-label stacked>Date</ion-label>
          <ion-input type="text" placeholder="dd/mm/yyyy" formControlName="date" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 no-padding align-items-center>
        <button ion-button margin-top icon-only clear (click)="loadDatePicker('date')">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    <ion-item no-lines *ngIf="!dealForm.controls.date.valid  && dealForm.controls.date.dirty">
      <p ion-text color="danger">Please enter date.</p>
    </ion-item>
    <ion-row no-padding align-items-center>
      <ion-col col-8 no-padding align-items-center>
        <ion-item margin-top>
          <ion-label stacked>Delivery Date</ion-label>
          <ion-input type="text" placeholder="dd/mm/yyyy" formControlName="deliveryDate" readonly></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-2 no-padding align-items-center>
          <button ion-button margin-top icon-only clear (click)="dealForm.controls['deliveryDate'].setValue('')">
            <ion-icon name="close"></ion-icon>
          </button>
        </ion-col>
      <ion-col col-2 no-padding align-items-center>
        <button ion-button margin-top icon-only clear (click)="loadDatePicker('deliveryDate')">
          <ion-icon name="calendar"></ion-icon>
        </button>
      </ion-col>
    </ion-row>  
    <ion-item no-lines *ngIf="!dealForm.controls.deliveryDate.valid  && dealForm.controls.deliveryDate.dirty">
      <p ion-text color="danger">Please enter delivery date.</p>
    </ion-item>
    <ion-row margin-top text-center>
      <ion-col col-6>
        <button ion-button (click)="sendBuyer()" [disabled]="!dealForm.valid">
          Send To Buyer
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button (click)="sendSeller()" [disabled]="!dealForm.valid">
          Send To Seller
        </button>
      </ion-col>
      <ion-col col-12>
        <button ion-button (click)="reset()">
          Reset
        </button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
