<ion-header>
  <ion-navbar>
    <ion-title>Contact List</ion-title>
    <ion-buttons end>
      <button ion-button menuToggle icon-only>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list  *ngIf="contactList">
    <ion-item *ngFor="let contact of contactList; let i = index">
      <h2>{{ contact.displayName }}</h2>
      <p>{{ contact.phoneNumber }}</p>
      <button ion-button clear item-end icon-only (click)="removeContact(i)">
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="primary" icon-only (click)="addContact()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
